<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Members Only</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>
    <body>
        <div class="mainBodyContainer">
            <%- include("./partials/header") %>
            <% if(currentUser) { %>
                <div class="userInfoContainer">
                    <div>Welcome, <%= currentUser.firstname %>!</div>
                <% if (currentUser.membership === 'member') { %>
                    <div>Membership Status: <strong>Member</strong></div>
                <% } else { %>
                    <div>Membership Status: <strong>Not a member</strong></div>
                    <div>To become a member, you must join the club <a href="/join" class="redirectLink"><strong>here.</strong></a></div>
                <% } %>
                <% if (currentUser.admin) { %>
                    <div>ADMIN</div>
                <% } %>
                </div>
            <% } %>
            <% if (messages) { %>
                <% messages.forEach((message) => { %>
                    <div class="messageBox">
                        <div class="messageText"><%= message.text %></div>
                        <div class="messageDate">Published: <%= message.date %></div>
                        <% if (currentUser && currentUser.membership === 'member') { %>
                            <div class="messageAuthor">Posted by: <%= message.author.firstname %></div>
                        <% } else { %>
                            <div class="messageAuthor">Posted by: Anonymous</div>
                        <% } %>
                        <% if (currentUser && currentUser.admin) { %>
                            <form class="deleteMessage" method="post">
                                <button type="submit" name="messageId" value="<%= message.id %>" class="defaultButton">Delete</button>
                            </form>
                        <% } %>
                    </div>
                <% }) %>
            <% } else { %>
                <div>No messages!</div>
            <% } %>
            <%- include("./partials/footer") %>
        </div>
    </body>
</html>